body {
    margin: 0;
    padding: 0;
}

.navbar-design {
    background-color: teal;
    height: 70px;
    padding: 0;
}

.navbar-container-fluid {
    height: 100%;
}

.nav-item a {
    color: lightblue;
    font-size: 18px;
}

.no-padding {
    padding-left: 0;
    padding-right: 0;
}

.justified-text {
    text-align: justify;
}

p {
    font-family: 'Open Sans', sans-serif;
}

.navbar-collapse.show {
    background-color: white;
    /* Set the background color when navbar is expanded */
    padding: 10px;
    /* Optional: Adjust padding for better appearance */
}

.container-fluid img {
    width: 100%;
    height: auto;
}

@media (max-width: 768px) {
    .container-fluid img {
        height: 300px;
        /* Adjust height for smaller screens */
    }
}

@media (max-width: 480px) {
    .container-fluid img {
        height: 200px;
        /* Adjust height for even smaller screens */
    }
}