body {
    margin: 0;
    padding: 0;
}

.navbar-design {
    background-color: darkturquoise;
    height: 70px;
    padding: 0;
}

.navbar-container-fluid {
    height: 100%;
}

.nav-item a {
    color: white;
    font-size: 18px;
}

.no-padding {
    padding-left: 0;
    padding-right: 0;
}