body {
    margin: 0;
    padding: 0;
}

.header {
    background-color: teal;
    padding: 15px;
    text-indent: 80px;
    height: 65px;
    align-items: center;
    justify-content: space-between;
    display: flex;

}

.header h1,
.navbar {
    color: antiquewhite;
    display: inline;
    grid-template-columns: 20%;

}

.header h1 {
    font-size: 32px;
    margin: 0;
    margin-left: 40px;
}

.navbar a {
    display: inline-block;
    nav-left: auto;

}